$lightColor: #61DAFB;
$darkColor: rgb(34, 39, 41);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 207, 214);
    font-family: 'Saira', sans-serif;
}