.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $darkColor;
    margin: 20px 0;
}

.header__logo {
    margin-left: 20px;
}

.header__nav {
    margin-right: 20px; 
}

.header__navList {
    display: flex;
    list-style: none;
}

.navList__element {
    margin: 10px 20px;
    cursor: pointer;
}

.navList__element:hover {
    color: $lightColor;
}